/* Los estilos de tu proyecto */
span.blue{
 background-color: blue;	
}

.img-first{
  background-image: url('../assets/images/taxi.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: bottom;
}
.form-register{
 color: #fff;
 background-color: #f7b617;
}

.btn-register{
  font-weight:300;
  color: black;
  background-color: #FFF; 
}
.img-whitelogo{
  margin:5px;
  width: 15%  	
}

.register-p {
    float: left;
    margin: 10px 45px 30px 45px;
}
.register-text{
 outline: none;
 border-radius: 0;
 border-width: 0;
 background-color: transparent;
 width: 20%;
 float: left;
 margin-bottom: 15px;
 border-bottom-width: 2px;
 border-bottom-style: solid
}
.center-modal{
padding-right: 10px;
}
.center-text{
  text-align: center;
}
input.inline-inputs {
    display: inline;
    width: 49%;
    margin: auto;
}
input.btn-driver{
  padding-bottom:40px;
  font-size: 20px;
  text-align: center;
}
input.register-driver{
  position: relative;
  margin: 0 9rem 3rem 0;
}
img.center{
  text-align: center;
  padding: 5px;
}

