/* Los estilos de tu proyecto */
span.blue{
 background-color: blue;	
}

.img-first{
  background-image: url('../assets/images/taxi.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.form-register{
 color: #fff;
 background-color: #f7b617;
}

.btn-register{
  font-weight:300;
  color: black;
  background-color: #FFF; 
}
.img-whitelogo{
  margin:5px;
  width: 15%  	
}
.center-form{
 margin-left: 20%;
}
p.register-p {
    float: left;
    margin: 10px;
}
.register-text{
 outline: none;
 border-radius: 0;
 border-width: 0;
 background-color: transparent;
 width: 20%;
 float: left;
 margin-bottom: 15px;
 border-bottom-width: 2px;
 border-bottom-style: solid
}